
#wordle-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-width: 325px;
    margin: 20px auto;
}

#wordle-grid .cell {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border: 2px solid #646464;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    text-transform: uppercase;
}

#wordle-grid .cell:empty {
    border: 2px solid #a8a8a8;
    outline: none;
}

#wordle-grid .cell.start {
    background-color: #2f7b28;
    color: white;
    border: none;
}

#wordle-grid .cell.won {
    background-color: #8dd187;
    color: white;
    border: none;
}

#wordle-grid .cell:focus {
    background-color: rgb(255, 249, 194);
    outline: none;
}

#wordle-grid.shake {
    animation: shake 0.8s;
}



@keyframes shake {
    0%   { transform: translate( 6px, 0px); }
    10%  { transform: translate(-6px, 0px); }
    20%  { transform: translate( 6px, 0px); }
    30%  { transform: translate(-6px, 0px); }
    40%  { transform: translate( 6px, 0px); }
    50%  { transform: translate(-6px, 0px); }
    60%  { transform: translate( 6px, 0px); }
    70%  { transform: translate(-6px, 0px); }
    80%  { transform: translate( 6px, 0px); }
    90%  { transform: translate(-6px, 0px); }
    100% { transform: translate( 6px, 0px); }
}